.table {
  margin-top: 12px;
  margin-bottom: 36px;
}

.long-button {
  width: 340px;
  border-left-color: transparent !important;
}

td {
  vertical-align: middle;
}

.sort-link {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
  color: #606060;
  font-weight: normal;
}

.sort-link:hover {
  color: black;
  border-bottom: 2px solid #6FC04A;
}

label {
  margin-top: 30px;
}

td:nth-child(2), td:nth-child(4) {
  padding-left: 85px;
}

.add-button {
  color: #4D4F53 !important;
  font-size: 14px;
}

.add-button:hover,
.add-button:active,
.add-button:focus {
  color: #878787 !important;
}