<h2>Team Members</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="sort-link" (click)="sortByNameColumn()">Name</th>
      <th scope="col" class="sort-link" (click)="sortByNumDaysTaken()">Half Days Taken Off</th>
      <th scope="col" class="sort-link" (click)="sortByMostRecentDate()">Most Recent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tm of teamMembers" class="btn-box">
      <th scope="row"><button type="button" class="btn btn-danger" title="delete team member" (click)="delete(tm)">x</button></th>
      <td><a routerLink="/detail/{{ tm.id }}">{{ tm.name }}</a></td>
      <td>{{ tm.datesTakenOff.length }}</td>
      <td *ngIf="tm.datesTakenOff[0]">{{ tm.datesTakenOff[0] }}</td>
      <td *ngIf="!tm.datesTakenOff[0]">None!</td>
    </tr>
  </tbody>
</table>

<label>Add Team Member:</label>
<div class="input-group mb-3 new-team-member">
  <div class="input-group mb-3">
    <input #teamMemberName type="text" class="form-control" placeholder="Name">
    <div class="input-group-append">
      <button (click)="add(teamMemberName.value); teamMemberName.value=''" class="btn btn-outline-primary">Add</button>
    </div>
  </div>
</div>