<div class="page-heading">
  <h2 class="text-center">Team Members</h2>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" (click)="columnSorted='name'; sortByCol('name')">
        <button class="qa-btn qa-btn-md primary-btn primary-btn-left">
          <span class="btn-text-left">Name</span>
          <span class="btn-text-right"><i class="fas fa-sort"></i></span>
        </button>
      </th>
      <th scope="col" (click)="columnSorted='numDays'; sortByCol('numDays')">
        <button class="qa-btn qa-btn-md primary-btn">
          <span class="btn-text-left">Days Used</span>
          <span class="btn-text-right"><i class="fas fa-sort"></i></span>
        </button>
      </th>
      <th scope="col" (click)="columnSorted='banked'; sortByCol('banked')">
        <button class="qa-btn qa-btn-md primary-btn">
          <span class="btn-text-left">Days Banked </span>
          <span class="btn-text-right"><i class="fas fa-sort"></i></span>
        </button>
      </th>
      <th (click)="columnSorted='dates'; sortByCol('dates')">
        <button class="qa-btn qa-btn-md primary-btn">
          <span class="btn-text-left">Most Recent</span>
          <span class="btn-text-right"><i class="fas fa-sort"></i></span>
        </button>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tm of teamMembers">
      <td><a routerLink="/detail/{{ tm.id }}" class="name hov-link hov-link-orange">{{ tm.name }}</a></td>
      <td>{{ tm.datesTakenOff.length }}</td>
      <td>{{ tm.halfDaysBanked }}</td>
      <td *ngIf="tm.datesTakenOff[0]">{{ tm.datesTakenOff[0] }}</td>
      <td *ngIf="!tm.datesTakenOff[0]">None!</td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<a class="action-button add-button left-btn" data-toggle="modal" data-target="#addMember">Add New Team Member</a>
<!-- <div class="drew" data-toggle="modal" data-target="#addMember"><i class="fas fa-plus"></i></div> -->
<!-- Modal -->
<div class="modal fade" id="addMember" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Add New Team Member</p>
      </div>
      <div class="modal-body">
        <input #teamMemberName type="text" class="form-control input-custom" placeholder="Name">
      </div>
      <div class="modal-footer">
        <a type="button" class="action-button add-button" data-dismiss="modal">Cancel</a>
        <button (click)="add(teamMemberName.value); teamMemberName.value=''" class="qa-btn primary-btn" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
