<div class="main-content mx-auto">
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value); loginForm.reset()"
        [class.error]="!loginForm.valid && loginForm.touched">
    <h2>Log in</h2>

    <div *ngIf="!email.valid && email.touched"
         [class.error]="!email.valid && email.touched">Email is invalid</div>
    <div *ngIf="email.hasError('required') && email.touched">Please enter an email address</div>
    <input type="email" id="inputEmail" email
           class="form-control input-custom" placeholder="Email address"
           required [formControl]="loginForm.controls['email']">
    
    <input type="password" id="inputPassword"
           class="form-control input-custom" placeholder="Password"
           required [formControl]="loginForm.controls['password']">
    <div *ngIf="!loginForm.valid && loginForm.touched" class="error">Form is not valid</div>

    <div class="text-right">
      <button class="qa-btn qa-btn-md accent-btn" type="submit" [class.disabled]="!loginForm.valid">Sign in</button>
    </div>

  </form>

</div>