<div class="main-content mx-auto">
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value); loginForm.reset()">
    <h2>Log in</h2>

    <input type="email" id="inputEmail" email
           class="form-control input-custom" placeholder="Email address"
           required [formControl]="loginForm.controls['email']">
    <div *ngIf="!email.valid && email.touched"
         [class.error]="!email.valid && email.touched">Email is invalid</div>
    <div *ngIf="email.hasError('required') && email.touched"
         [class.error]="email.hasError('required') && email.touched">Please enter an email address</div>
    
    <input type="password" id="inputPassword"
           class="form-control input-custom" placeholder="Password"
           required [formControl]="loginForm.controls['password']">

    <div class="text-right">
      <button class="qa-btn qa-btn-md accent-btn" type="submit"
              [disabled]="!loginForm.valid"
              [class.disabled]="!loginForm.valid">Log in</button>
    </div>

  </form>

</div>