<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top main-nav">
    <div class="nav navbar-nav mx-auto">
      <a class="nav-link" routerLink="/team-members"><img src="../assets/logo.png" class="logo"></a>
    </div>
  </nav>
</header>

<main role="main" class="container">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <a routerLink="/team-members" class="hov-link hov-link-pink">All Team Members</a>
  </div>
</footer>