<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand nav-link abs" routerLink="/team-members"><img src="../assets/logo.png" class="header-logo"></a>
    <button *ngIf="auth.currentUser" class="navbar-right ml-auto qa-btn qa-btn-md accent-btn logout" (click)="logout()">Logout</button>
  </nav>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<div class="spacer"></div>

<footer class="footer">
  <div class="container">
    <a routerLink="/team-members"><img src="../assets/logo.png" class="footer-logo"></a>
  </div>
</footer>
