html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 75px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #7b8181;
  color: black;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

code {
  font-size: 80%;
}

.brand-name {
  height: 44px;
}

.navbar {
  background-color: #60c4b0;
  color: white;
  height: 69px;
  border-top: 18px solid #6ea69b;
  box-shadow: 2px 2px 3px #7b8181;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.spacer {
  height: 115px;
  visibility: hidden;
}

.header-logo {
  height: 40px;
}

.footer-logo {
  height: 25px;
}

.logout {
  z-index: 20;
  font-size: 16px;
}

@media (min-width: 576px),
       (min-width: 768px),
       (min-width: 992px),
       (min-width: 1200px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }

  .logout {
    font-size: 14px;
  }

  .container {
    padding: 60px 15px 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
