<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top main-nav">
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/team-members">QaKudos</a></li>
    </ul>
  </nav>
</header>

<main role="main" class="container">
  <div class="top-buffer">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <a routerLink="/team-members" class="hov-link hov-link-pink">All Team Members</a>
  </div>
</footer>