<div class="container">

  <h1>Transaction</h1>
  
  <form (ngSubmit)="onSubmit()" #transactionForm="ngForm">
    
    <div class="form-group">
      <label for="numHalfDays">How many half days would you like to cash in?</label>
      <input type="number" class="form-control" id="numHalfDays"
             required
             [(ngModel)]="t.numHalfDays" name="numHalfDays"
             #numHalfDays="ngModel">
    </div>
    <div [hidden]="numHalfDays.valid || numHalfDays.pristine"
         class="alert alert-danger">Please enter a number</div>

    <div class="form-group">
      <label for="selectedDate">When?</label>
      <input type="date" class="form-control" id="selectedDate"
             required
             [(ngModel)]="t.selectedDate" name="selectedDate"
             #selectedDate="ngModel">
    </div>
    <div [hidden]="selectedDate.valid || selectedDate.pristine"
         class="alert alert-danger">This field is required</div>

    <button type="submit" class="btn btn-success"
            (click)="updateUser(transactionForm.value); transactionForm.reset()"
            [disabled]="!transactionForm.form.valid">Submit</button>
  
  </form>
</div>