<div class="container">
  
  <form (ngSubmit)="onSubmit()" #transactionForm="ngForm">

    <fieldset class="form-group">
      <label for="numHalfDays">How many half days would you like to cash in?</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="numHalfDays"
                 id="optionsRadios1" [value]="1" [(ngModel)]="t.numHalfDays" checked>1
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="numHalfDays"
                 id="optionsRadios2" [value]="2" [(ngModel)]="t.numHalfDays">2
        </label>
      </div>
    </fieldset>

    <div class="form-group">
      <label for="selectedDate">When?</label>
      <input type="date" class="form-control" id="selectedDate"
             required
             [(ngModel)]="t.selectedDate" name="selectedDate"
             #selectedDate="ngModel">
    </div>
    <div [hidden]="selectedDate.valid || selectedDate.pristine"
         class="alert alert-danger">This field is required</div>

  </form>
  
</div>
<div class="modal-footer">
  <a type="button" class="modal-no hov-link" data-dismiss="modal">Cancel</a>
  <button type="submit" class="btn btn-custom btn-custom-hyland-green"
          (click)="updateUser(transactionForm.value); transactionForm.reset()"
          [disabled]="!transactionForm.form.valid"
          [class.disabled]="!transactionForm.form.valid">Submit</button>
</div>