.member-info {
  margin-top: 20px;
  margin-bottom: 10px;
}

.editable {
  cursor: pointer;
}

label {
  margin-top: 20px;
}

td, th {
  vertical-align: middle;
}

.name-box {
  font-size: 2rem;
}

table {
  margin-top: 20px;
}

.delete-button {
  color: #a94467 !important;
  font-size: 14px;
}

.delete-button:hover,
.delete-button:active,
.delete-button:focus {
  color: #c07790 !important;
}

.date {
  font-weight: bold;
}