<div *ngIf="teamMember">

  <div class="container">

    <h2>{{ teamMember.name }} - Half Days Taken Off: <strong>{{ teamMember.datesTakenOff.length }}</strong></h2>

    <div class="input-group mb-3">
      <input #dateInput type="date" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-primary" id="basic-addon2" (click)="addDate(dateInput.value)">Add</button>
      </div>
    </div>
    
    <table class="table col-md-6">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Timeframe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let date of teamMember.datesTakenOff">
          <td>{{ date | amDateFormat:'LL' }}</td>
          <td>{{ date | amTimeAgo }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>