<div *ngIf="teamMember">

  <div class="container">

    <h2>{{ teamMember.name }}</h2>
    
    <label>Half Days Taken Off: <strong>{{ teamMember.datesTakenOff.length }}</strong></label>

    <div class="input-group mb-3">
      <input type="date" class="form-control">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Add</span>
      </div>
    </div>
    
    <table class="table col-md-6">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Timeframe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let date of teamMember.datesTakenOff">
          <td>{{ date | amDateFormat:'LL' }}</td>
          <td>{{ date | amTimeAgo }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-outline-primary" (click)="goBack()">Go Back</button>
    <button class="btn btn-primary" (click)="save()">Save</button>

  </div>

</div>