.member-info {
  margin-top: 20px;
  margin-bottom: 10px;
}

.editable {
  cursor: pointer;
}

h2 {
  margin-top: 20px;
}

label {
  margin-top: 20px;
}

td, th {
  vertical-align: middle;
}

.name-box {
  font-size: 2rem;
}

table {
  margin-top: 20px;
}