.member-details {
  margin-top: 24px;
}

.btn-cash-in {
  margin-left: -15px !important;
}

.member-info {
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0; 
}

.history {
  margin: 0 12px 12px 12px;
}

.row {
  margin-top: 24px;
  margin-bottom: 24px;
}

.row:first-child {
  margin-top: 12px;
}

.team-member-name {
  font-size: 18px;
  font-weight: bold;
}

.name-box {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.delete-button {
  margin-left: 10px;
}

.error-message {
  color: #a94467;
  font-size: 14px;
  font-style: italic;
  float: right;
}

.no-error {
  visibility: hidden;
}

.error {
  border: none;
  box-shadow: 0 0 0 .1rem #a94467 !important;
}

.modal-body {
  padding-top: 0;
}

.modal-body label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.history-table {
  margin: 36px 0;
  color: grey;
}

.hov-link:hover {
  color: black;
}

.date-box {
  width: 50%;
  padding: 0;
}