@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #d3dad8;
}

.hover-pad {
  padding-bottom: 10px;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.main-content {
  margin-top: 15px;
  padding: 15px;
  box-shadow: 2px 2px 3px #7b8181;
  border-radius: 2px;
  background-color: white;
}

.page-heading {
  padding-top: 20px;
}

.page-heading > h2 {
  font-size: 16px;
}

tbody tr {
  border-left: 5px solid transparent;
  transition: .15s ease-in-out;
}

.disabled {
  cursor: not-allowed !important;
}

.error {
  color: red;
}

.input-custom {
  font-size: 14px;
  display: inline-block;
}

.input-custom:active,
.input-custom:focus,
.input-custom:hover {
  box-shadow: 0 0 0 .1rem #60c4b0;
}

.hov-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.hov-link:hover {
  padding-bottom: 4px;
  text-decoration: none;
  color: inherit;
}

.hov-link-orange:hover {
  border-bottom: 2px solid #f27e21;
}

.modal-header {
  border-top: 5px solid #60c4b0;
  border-radius: 0;
  border-bottom: none;
}

.modal-title {
  margin: 0 auto;
}

.modal-body {
  margin: 0 auto;
}

.modal-footer {
  border-top: none;
  margin: 0 auto !important;
}

/* CUSTOM BUTTONS */

.qa-btn {
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding: 6px 14px;
  cursor: pointer;
  transition: .05s ease-in-out;
}

.qa-btn-lg {
  width: 150px;
  font-size: 20px;
  padding: 10px;
}

.qa-btn-md {
  width: 120px;
}

.qa-btn-sm {
  width: 35px;
}

.primary-btn {
  background-color: #60c4b0;
  color: white;
  box-shadow: inset 0 -3px 0 #6ea69b !important;
}

.primary-btn:active:enabled {
  box-shadow: inset 0 3px 0 #6ea69b !important;
}

.primary-btn:hover:enabled {
  background-color: #8bd4c5;
}

.accent-btn {
  background-color: #f27e21;
  color: white;
  box-shadow: inset 0 -3px 0 #b15c19 !important;
}

.accent-btn:active:enabled {
  box-shadow: inset 0 3px 0 #b15c19 !important;
}

.accent-btn:hover:enabled {
  background-color: #f5a15d;
}

.danger-btn {
  background-color: #92374d;
  color: white;
  box-shadow: inset 0 -3px 0 #4e1e2a !important;
}

.danger-btn:active:enabled {
  box-shadow: inset 0 3px 0 #4e1e2a !important;
}

.danger-btn:hover:enabled {
  background-color: #af6d7d;
}

.add-button {
  color: #4D4F53 !important;
  font-size: 12px;
}

.add-button:hover,
.add-button:active,
.add-button:focus {
  color: #878787 !important;
}

.delete-button {
  color: #a94467 !important;
  font-size: 12px;
}

.delete-button:hover,
.delete-button:active,
.delete-button:focus {
  color: #c07790 !important;
}

.action-button {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
}