@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif !important;
}

.hover-pad {
  padding-bottom: 10px;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.page-heading {
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d3d3;
}

.page-heading > h2 {
  font-size: 16px;
}

tbody tr {
  border-left: 5px solid transparent;
  transition: .15s ease-in-out;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.input-custom {
  display: inline-block;
}

.input-custom:active,
.input-custom:focus,
.input-custom:hover {
  box-shadow: 0 0 0 .1rem #96d17b;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  border-radius: 2px;
}

.input-custom {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.hov-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
}

.hov-link:hover {
  padding-bottom: 10px;
  text-decoration: none;
  color: inherit;
}


/* CUSTOM BUTTONS */

.modal-no {
  margin-right: 20px !important;
  cursor: pointer;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
}

.modal-no:hover,
.modal-no:active,
.modal-no:focus {
  border-bottom: 2px solid #212529;
}

.action-button {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s ease-in-out;
}

.delete-button {
  color: #a94467 !important;
}

.tertiary-button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: .2s ease-in-out;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.tertiary-button:hover {
  text-decoration: none;
  color: inherit;
  padding-bottom: 12px;
}

.input-right-button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.btn-custom {
  border: 0;
  box-shadow: inset 0 -2px 0 rgba( 0, 0, 0, 0.25 ) !important;
  color: #fff;
  padding: 6px 14px;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
}

.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover {
  color: #fff;
}

.btn-custom-hyland-green {
  background: white;
  color: black;
  border: 1px solid #d3d3d3;
}

.btn-custom-hyland-green:active,
.btn-custom-hyland-green:focus,
.btn-custom-hyland-green:hover {
  background: #6FC04A;
  color: #fff;
}

.btn-custom-hyland-pink {
  background: #EF509D;
  color: #fff;
}

.btn-custom-hyland-pink:active,
.btn-custom-hyland-pink:focus,
.btn-custom-hyland-pink:hover {
  background: #f37fb7;
  color: #fff;
}

.btn-custom-hyland-light-blue {
  background: #00C7E9;
  color: #fff;
}

.btn-custom-hyland-light-blue:active,
.btn-custom-hyland-light-blue:focus,
.btn-custom-hyland-light-blue:hover {
  background: #45d6ef;
  color: #fff;
}

.btn-custom-hyland-orange {
  background: #FF7900;
  color: #fff;
}

.btn-custom-hyland-orange:active,
.btn-custom-hyland-orange:focus,
.btn-custom-hyland-orange:hover {
  background: #ff9d45;
  color: #fff;
}

.btn-custom-hyland-dark-blue {
  background: #002D38;
  color: #fff;
}

.btn-custom-hyland-dark-blue:active,
.btn-custom-hyland-dark-blue:focus,
.btn-custom-hyland-dark-blue:hover {
  background: #668188;
  color: #fff;
}

.btn-custom-hyland-med-grey {
  background: #4D4F53;
  color: #fff;
}

.btn-custom-hyland-med-grey:active,
.btn-custom-hyland-med-grey:focus,
.btn-custom-hyland-med-grey:hover {
  background: #7d7f81;
  color: #fff;
}

.btn-custom-hyland-red {
  background: #a94467;
  color: #fff;
}

.btn-custom-hyland-red:active,
.btn-custom-hyland-red:focus,
.btn-custom-hyland-red:hover {
  background: #c07790;
  color: #fff;
}

.btn-custom-lg {
  font-size: 16px;
  padding: 10px 18px;
}

.btn-custom-sm {
  font-size: 12px;
  padding: 6px 13px;
}

.btn-custom-xs {
  font-size: 12px;
  padding: 5px 10px;
}